/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  /* fonts */
  --basic-font: 'Roboto Flex', sans-serif;

  /* colors */
  --black-color: #000000;
  --contrast-color: #141017;
  --contrast-color-90: rgba(20, 16, 23, 0.9);
  --attention-color: #fba200;
  --attention-light-color: #e4ae39;

  /* text colors */
  --important-color: #ffffff;
  --main-text-color: #c8c8c8;
  --secondary-color: #999999;
  --inactive-color: #696969;
  --text-error-color: #ab040d;
  --success-color: #009f4d;

  /* backgrounds colors */
  --contrast-lighter-color: #1d1a21;
  --main-bg-color: #27252b;
  --accent-color: #323036;
  --secondary-accent-color: #2d2b31;
  --bg-error-color: #9c0305;
  --page-bg-color: #3a353f;
  --active-color: #1a7302;

  /* other */
  --border-radius-small: 5px;
  --border-radius-normal: 10px;
  --border-radius-medium: 15px;
  --medium-indent: 20px;
}


/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content
                      1fr
                      min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  padding: var(--medium-indent) 0;
  font: 400 14px/18px var(--basic-font);
  color: var(--main-text-color);
  background-color: var(--page-bg-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg-filters {
  display: none;
}

.page-block {
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius-medium);
}


/* icons start */

.icon {
  position: relative;
}

.icon::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--bets::before {
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/bet-icon.png");
}

.icon--investment::before {
  width: 18px;
  height: 13px;
  background-image: url("../images/icons/investment-icon.svg");
}

.icon--items::before {
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/items-icon.png");
}

.icon--coins::before {
  width: 13px;
  height: 17px;
  background-image: url("../images/icons/coins-icon.png");
}

.icon--scales::before {
  width: 13px;
  height: 13px;
  background-image: url("../images/icons/scales-icon.svg");
}

.icon--support::before {
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/support-icon.png");
}

.icon--login::before {
  width: 13px;
  height: 13px;
  background-image: url("../images/icons/login-icon.svg");
}

.icon--logout::before {
  width: 11px;
  height: 13px;
  background-image: url("../images/icons/out-icon.png");
}

.icon--steam::before {
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/steam-icon.png");
}

.icon--mail::before {
  width: 13px;
  height: 10px;
  background-image: url("../images/icons/mail-icon.svg");
}

.icon--facebook::before {
  width: 8px;
  height: 15px;
  background-image: url("../images/icons/facebook-icon.png");
}

.icon--vkontakte::before {
  width: 19px;
  height: 10px;
  background-image: url("../images/icons/vk-icon.png");
}

.icon--info::before {
  width: 13px;
  height: 11px;
  background-image: url("../images/icons/info-icon.svg");
}

.icon--link::before {
  width: 8px;
  height: 8px;
  background-image: url("../images/icons/link-icon.png");
}

.icon--english::before {
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/english-flag-icon.png");
}

.icon--spanish::before {
  width: 18px;
  height: 18px;
  background-image: url('https://stuffedeyes.files.wordpress.com/2018/06/spain-2906824_960_720.png');
}

.icon--dota::before {
  width: 14px;
  height: 14px;
  background-image: url("../images/icons/dota-icon.png");
}

.icon--time::before {
  width: 11px;
  height: 11px;
  background-image: url("../images/icons/time-icon.svg");
}

.icon--vertical-dots::before {
  width: 3px;
  height: 13px;
  background-image: url("../images/icons/vertical-dots-icon.svg");
}

.icon--chevron::before {
  width: 7px;
  height: 6px;
  background-image: url("../images/icons/chevron-icon.png");
}

/* icons end */

/*====================
    MAIN STYLES
  ====================*/

/* header start */

.header {
  margin-bottom: var(--medium-indent);
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 33px 55px 24px 77px;
}

.header__logo {
  margin-right: 68px;
}

.menu {
  margin-right: 20px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  color: var(--main-text-color);
}

.menu__item+.menu__item {
  margin-left: 27px;
}

.menu__link {
  padding-left: 20px;
  text-decoration: none;
  color: var(--important-color);
}

.menu__link-text {
  position: relative;
}

.menu__link-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-text-color);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.menu__link-text:hover::after {
  width: 100%;
  left: 0;
}

.menu__link:focus {}

.menu__link:active {
  outline: none;
  opacity: 0.5;
}

.menu__link:active .menu__link-text::after {
  display: none;
}

.menu__link::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.menu__link.icon--investment {
  padding-left: 23px;
}

.menu__link.icon--items,
.menu__link.icon--scales,
.menu__link.icon--bets {
  padding-left: 17px;
}

.menu__link.icon--support {
  padding-left: 15px;
}

.user {
  margin-left: auto;
}

.user__login-button {
  padding: 6px 40px 6px 20px;
  font-weight: 700;
  color: var(--black-color);
  background-color: var(--important-color);
  border: none;
  border-radius: var(--border-radius-medium);
}

.user__login-button::before {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  filter: url('#black-filter');
}

.header.authorized .user__login-button {
  display: none;
}

.user__menu {
  display: none;
}

.header.authorized .user__menu {
  display: flex;
  align-items: center;
}

.user__resources {
  position: relative;
  margin: 0 4px 0 0;
  padding: 0 2px 0 0;
  list-style-type: none;
}

.user__resources::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: calc(100% - 6px);
  transform: translateY(-50%);
  background-color: var(--main-text-color);
}

.user__resources-item + .user__resources-item {
  margin-top: 5px;
}

.user__resources-link {
  padding-right: 25px;
  font-weight: 700;
  text-decoration: none;
  color: var(--important-color);
}

.user__resources-link::before {
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.user__resources-link--betcoins::before {
  filter: url('#attention-filter');
}

.user__resources-link--steam::before {
  filter: url('#white-filter');
}

.user__options {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.user__profile {
  margin-right: 5px;
  font-size: 12px;
  text-decoration: none;
  color: var(--main-text-color);
}

.user__profile-name {
  display: block;
  font-size: 18px;
  color: var(--important-color);
}

.user__logout-button {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.user__logout-button::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url('#white-filter')
}

.user__avatar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
          mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
}

/* header end */


/* page content start */

.page-content__inner {
  display: flex;
  align-items: flex-start;
}

.main {
  flex: 1;
  margin-right: var(--medium-indent);
}

.last-bets {
  flex-shrink: 0;
  width: 390px;
}

/* page content end */


/* game item start */
.game-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 105px;
  height: 70px;
  overflow: hidden;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  background-image: linear-gradient(to bottom,
                                    var(--black-color) 0 18px,
                                    var(--main-text-color) 18px calc(100% - 18px),
                                    var(--black-color) calc(100% - 18px) 100%);
  border-radius: var(--border-radius-normal);
}

.game-item__info {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 10px;
  background-color: var(--contrast-color-90);
}

.game-item__price {
  color: var(--important-color);
}

.game-item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105%;
  object-fit: cover;
  border-radius: var(--border-radius-normal);
  overflow: hidden;
}

.game-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--attention-light-color);
}
/* game item end */


/* custom select start */

.custom-select {
  position: relative;
}

.custom-select__button {
  position: relative;
  z-index: 1;
  padding: 2px 0 2px;
  text-align: left;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: var(--border-radius-normal);
}

.custom-select__text {
  padding: 0 10px 0 0;
  font-size: 14px;
}

.custom-select__list-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  min-width: min-content;
  height: 0;
  overflow: hidden;
}

.custom-select__list {
  margin: 0;
  padding: 5px 0 2px 0;
  list-style-type: none;
  border-radius: var(--border-radius-normal);
}

.custom-select__item:not([hidden]) + .custom-select__item:not([hidden]) {
  margin-top: 5px;
}

.custom-select__list-button {
  display: block;
  padding: 0 10px 0 0;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: transparent;
  border: none;
}

.custom-select__input {
  display: none;
}

.custom-select--open-top *,
.custom-select--open-bottom * {
  transition: all 0.3s;
}

.custom-select--open-top .custom-select__button,
.custom-select--open-bottom .custom-select__list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-select--open-top .custom-select__list,
.custom-select--open-bottom .custom-select__button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-select--open-top .custom-select__list-wrapper {
  bottom: calc(100% - 2px) !important;
}

.custom-select--open-top .custom-select__list {
  padding: 2px 0 5px 0;
}

.custom-select--open-bottom .custom-select__list-wrapper {
  top: calc(100% - 2px) !important;
}

.custom-select--open-bottom .custom-select__list {
  padding: 5px 0 2px 0;
}

/* custom select end */


/* languages toggle start */
.languages__button,
.languages__list {
  background-color: var(--accent-color);
}


.languages__button-text {
  padding-left: 24px;
}

.languages__button-text::before,
.languages__item-button::before {
  left: 2px;
  top: 50%;
  overflow: hidden;
  background-size: cover;
  border-radius: 50%;
  transform: translateY(-50%);
}

.languages__item-button {
  padding-left: 24px;
}

/* languages toggle end */


/* upcoming match start */
.upcoming-match {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 65px 9px 40px;
}

.upcoming-match__category {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
}

.upcoming-match__category.icon--dota {
  background-color: var(--text-error-color);
}

.upcoming-match__category::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url("#white-filter");
}

.upcoming-match__info {
  margin-right: auto;
}

.upcoming-match__title {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: var(--important-color);
}

.upcoming-match__num {
  font-size: 11px;
  font-style: normal;
}

.upcoming-match__timer {
  display: block;
  padding-left: 15px;
  font-weight: 400;
}

.upcoming-match__timer::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: url("#text-color-filter");
}

.upcoming-match__text {
  position: relative;
  z-index: 2;
  max-width: 300px;
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: var(--main-text-color);
}

.upcoming-match__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent, #000000 85%);
          mask-image: linear-gradient(to right, transparent, #000000 85%);
}
/* upcoming match end */


/* title start */
.title {
  font-weight: 400;
  font-size: 18px;
  color: var(--important-color);
}
/* title end */


/* last bets start */
.last-bets {
}

.last-bets__title {
  position: relative;
  margin: 0;
  padding: 20px 0 15px 40px;
}

.last-bets__title::before {
  top: 28.5px;
  left: 25px;
  transform: translateY(-50%);
}

.last-bets__title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.bets-list {
  margin: 0;
  padding: 20px 25px;
  list-style-type: none;
}

/* bets item start */
.bets-item {
  padding: 15px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-medium);
}

.bets-item + .bets-item {
  margin-top: 20px;
}

.bets-item__info {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  font-size: 10px;
  color: var(--secondary-color);
}

.bets-item__user-name {
  line-height: 12px;
}

.bets-item__user-name,
.bets-item__bet {
  margin-right: 2px;
  text-decoration: none;
}

.bets-item__user-name:not([href]),
.bets-item__bet:not([href]) {
  color: var(--main-text-color);
}

.bets-item__user-name:not([href])::before,
.bets-item__bet:not([href])::before {
  display: none;
}

.bets-item__user-name[href] {
  margin-right: 4px;
  padding: 0 15px 0 20px;
  color: var(--black-color);
  background-color: var(--important-color);
  border-radius: var(--border-radius-small);
}

.bets-item__user-name[href]::before {
  top: 1px;
  left: 4px;
  width: 13px;
  height: 11px;
  filter: url('#black-filter');
}

.bets-item__user-name[href]::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 4px;
  width: 7px;
  height: 7px;
  background-image: url("../images/icons/link-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: url("#black-filter");
}

.bets-item__bet[href] {
  padding-right: 12px;
  color: var(--important-color);
}

.bets-item__bet[href]::before {
  top: 50%;
  right: 2px;
  width: 7px;
  height: 7px;
  transform: translateY(-50%);
  filter: url("#white-filter");
}

.bets-item__type {
  margin-left: auto;
}

.bets-item__body {
  display: flex;
  align-items: center;
  font-size: 12px;
  transition: all 0.3s;
}

.bets-item__resources {
  margin-right: 5px;
}

.bets-item__money {
  font-weight: 700;
}

.bets-item__money + .bets-item__money {
  margin-left: 5px;
}

.bets-item__money::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bets-item__betcoins {
  padding-left: 17px;
}

.bets-item__betcoins::before {
  filter: url("#attention-filter");
}

.bets-item__items-price {
  padding-left: 13px;
}

.bets-item__items-price::before {
  filter: url("#text-color-filter");
}

.bets-item__team {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
  font-weight: 700;
}

.bets-item__team-logo {
  margin-right: 5px;
}

.bets-item__team-name {
  font-weight: 700;
  font-size: 14px;
}

.bets-item__show-content {
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.bets-item__show-content::before {
  top: 4px;
  left: 50%;
  transform: translateX(-50%) scaleY(-1);
  filter: url("#text-color-filter");
  transition: all 0.3s;
}

.bets-item__content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.bets-item__items-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 0;
  padding: 15px 0 0;
}

.bets-item__items-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: var(--main-bg-color);
  transition: all 0.3s;
}

.bets-item--opened .bets-item__body {
  margin-bottom: 10px;
}

.bets-item--opened .bets-item__items-list::before {
  opacity: 1;
}

.bets-item--opened .bets-item__show-content::before {
  transform: translateX(-50%) scaleY(1);
}

.bets-item__items-list .game-item {
  width: unset;
}
/* bets item end */
/* last bets end */


/* footer start */

.footer__inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 42px 54px 20px 77px;
}

.footer__logo {
  margin-right: 98px;
}

.footer__info {
  flex: 1;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px;
  padding: 0;
  list-style-type: none;
}

.links-block {
  display: flex;
  font-size: 12px;
}

.links-block__title {
  margin: 0 10px 0 0;
  font-weight: 400;
  font-size: 12px;
}

.links-block__title.icon--info {
  padding-left: 16px;
}

.links-block__title.icon--info::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: url('#text-color-filter');
}

.footer__mail-link {
  padding-left: 16px;
  color: var(--important-color);
  text-decoration: none;
}

.footer__mail-link::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 0;
}

.socials__item + .socials__item{
  margin-left: 10px;
}

.socials__link {
  width: 30px;
  height: 20px;
  background-color: var(--important-color);
  border-radius: var(--border-radius-medium);
}

.socials__link::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url('#black-filter');
}

.info-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-links__item + .info-links__item {
  margin-left: 18px;
}

.info-links__link {
  padding-right: 14px;
  color: var(--important-color);
  text-decoration: none;
}

.info-links__link::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.footer__copy {
  display: flex;
  justify-content: center;
}

.footer__copy::before {
  content: "©";
  margin-right: 3px;
  font-size: 16px;
}

.copyright__item {
  position: relative;
  margin: 0;
  font-size: 12px;
}

.copyright__item + .copyright__item {
  margin-left: 4px;
  padding-left: 4px;
}

.copyright__item + .copyright__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: calc(100% - 5px);
  transform: translateY(-50%);
  background-color: var(--main-text-color);
}

.copyright__page-name,
.copyright__by {
  font-weight: 700;
}

.copyright__version {
  text-decoration: none;
  color: var(--inactive-color);
}

.copyright__by.icon--steam {
  padding-left: 20px;
}

.copyright__by.icon--steam::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.copyright__by--company {
  text-transform: uppercase;
}

.copyright__page-name,
.copyright__by,
.copyright__years {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer__languages {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

/* footer end */


/*====================
    ANIMATIONS
  ====================*/


/*====================
    DESKTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
