/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  /* fonts */
  --basic-font: 'Roboto Flex', sans-serif;

  /* colors */
  --white-color: #ffffff;
  --black-color: #000000;
  --light-color: #c9c9c9;
  --inactive-color: #696969;
  --dark-grey-color: #323036;
  --accent-color: #fba200;
  --accent-light-color: #e4ae39;
  --page-bg-color: #3a353f;
  --block-bg-color: #27252b;
  --dark-color: #141017;
  --dark-color-90: rgba(20, 16, 23, 0.9);
  --active-color: #1a7302;

  /* other */
  --border-radius: 10px;
  --medium-indent: 25px;
}


/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content
                      1fr
                      min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  padding: var(--medium-indent) 0;
  font: 400 14px/18px var(--basic-font);
  color: var(--light-color);
  background-color: var(--page-bg-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg-filters {
  display: none;
}

.page-block {
  background-color: var(--block-bg-color);
  border-radius: var(--border-radius);
}


/* icons start */

.icon {
  position: relative;
}

.icon::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--bets::before {
  width: 11px;
  height: 10px;
  background-image: url("../images/icons/bet-icon.png");
}

.icon--investment::before {
  width: 18px;
  height: 13px;
  background-image: url("../images/icons/investment-icon.svg");
}

.icon--items::before {
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/items-icon.png");
}

.icon--coins::before {
  width: 13px;
  height: 17px;
  background-image: url("../images/icons/coins-icon.png");
}

.icon--scales::before {
  width: 13px;
  height: 13px;
  background-image: url("../images/icons/scales-icon.svg");
}

.icon--support::before {
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/support-icon.png");
}

.icon--login::before {
  width: 13px;
  height: 13px;
  background-image: url("../images/icons/login-icon.svg");
}

.icon--logout::before {
  width: 11px;
  height: 13px;
  background-image: url("../images/icons/out-icon.png");
}

.icon--steam::before {
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/steam-icon.png");
}

.icon--mail::before {
  width: 13px;
  height: 10px;
  background-image: url("../images/icons/mail-icon.svg");
}

.icon--facebook::before {
  width: 8px;
  height: 15px;
  background-image: url("../images/icons/facebook-icon.png");
}

.icon--vkontakte::before {
  width: 19px;
  height: 10px;
  background-image: url("../images/icons/vk-icon.png");
}

.icon--info::before {
  width: 13px;
  height: 11px;
  background-image: url("../images/icons/info-icon.svg");
}

.icon--link::before {
  width: 8px;
  height: 8px;
  background-image: url("../images/icons/link-icon.png");
}

/* icons end */

/*====================
    MAIN STYLES
  ====================*/

/* header start */

.header {
  margin-bottom: var(--medium-indent);
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 29px 55px 29px 77px;
}

.header__logo {
  margin-right: 77px;
}

.menu {
  margin-right: 20px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  color: var(--light-color);
}

.menu__item+.menu__item {
  margin-left: 27px;
}

.menu__link {
  padding-left: 20px;
  text-decoration: none;
  color: var(--white-color);
}

.menu__link-text {
  position: relative;
}

.menu__link-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--light-color);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.menu__link-text:hover::after {
  width: 100%;
  left: 0;
}

.menu__link:focus {}

.menu__link:active {
  outline: none;
  opacity: 0.5;
}

.menu__link:active .menu__link-text::after {
  display: none;
}

.menu__link::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.menu__link.icon--investment {
  padding-left: 23px;
}

.menu__link.icon--items,
.menu__link.icon--scales,
.menu__link.icon--bets {
  padding-left: 17px;
}

.menu__link.icon--support {
  padding-left: 15px;
}

.user {
  margin-left: auto;
}

.user__login-button {
  padding: 6px 40px 6px 20px;
  font-weight: 700;
  color: var(--black-color);
  background-color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
}

.user__login-button::before {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  filter: url('#black-filter');
}

.header.authorized .user__login-button {
  display: none;
}

.user__menu {
  display: none;
}

.header.authorized .user__menu {
  display: flex;
  align-items: center;
}

.user__resources {
  position: relative;
  margin: 0 4px 0 0;
  padding: 0 2px 0 0;
  list-style-type: none;
}

.user__resources::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: calc(100% - 6px);
  transform: translateY(-50%);
  background-color: var(--light-color);
}

.user__resources-item + .user__resources-item {
  margin-top: 5px;
}

.user__resources-link {
  padding-right: 25px;
  font-weight: 700;
  text-decoration: none;
  color: var(--white-color);
}

.user__resources-link::before {
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}

.user__resources-link--betcoins::before {
  filter: url('#accent-filter');
}

.user__resources-link--steam::before {
  filter: url('#white-filter');
}

.user__options {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.user__profile {
  margin-right: 5px;
  font-size: 12px;
  text-decoration: none;
  color: var(--light-color);
}

.user__profile span {
  display: block;
  font-size: 18px;
  color: var(--white-color);
}

.user__logout-button {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.user__logout-button::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url('#white-filter')
}

.user__avatar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
          mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
}

/* header end */


/* page content start */

.page-content__inner {
  display: flex;
  align-items: flex-start;
}

.main {
  flex: 1;
  margin-right: var(--medium-indent);
}

.last-bets {
  flex-shrink: 0;
  width: 390px;
}

/* page content end */


/* game item start */
.game-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 105px;
  height: 70px;
  overflow: hidden;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
}

.game-item__info {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 10px;
  background-color: var(--dark-color-90);
}

.game-item__price {
  color: var(--white-color);
}

.game-item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--accent-light-color);
}
/* game item end */


/* footer start */

.footer__inner {
  display: flex;
  align-items: flex-start;
  padding: 40px 54px 20px 77px;
}

.footer__logo {
  margin-right: 105px;
}

.footer__info {
  flex: 1;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
}

.links-block {
  display: flex;
  font-size: 12px;
}

.links-block__title {
  margin: 0 10px 0 0;
  font-weight: 400;
  font-size: 12px;
}

.links-block__title.icon--info {
  padding-left: 16px;
}

.links-block__title.icon--info::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: url('#light-filter');
}

.footer__mail-link {
  padding-left: 16px;
  color: var(--white-color);
  text-decoration: none;
}

.footer__mail-link::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 0;
}

.socials__item + .socials__item{
  margin-left: 10px;
}

.socials__link {
  width: 30px;
  height: 20px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}

.socials__link::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: url('#black-filter');
}

.info-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-links__item + .info-links__item {
  margin-left: 18px;
}

.info-links__link {
  padding-right: 14px;
  color: var(--white-color);
  text-decoration: none;
}

.info-links__link::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  filter: url('#white-filter');
}

.footer__copy {
  margin: 0;
  text-align: center;
}

/* footer end */


/*====================
    ANIMATIONS
  ====================*/


/*====================
    DESKTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
